.header {
  padding: 20px;
  background-color: steelblue;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;

  .header-title {
    font-size: 24px;
    font-weight: bold;
  }

  .header-info {
    display: flex;
    align-items: center;

    div:not(:last-child) {
      margin-right: 30px;
    }
  }
}
